@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.menuNavUl {
    
    width: 20%;
    margin: 0px;
    position: sticky;
    top: 25%;
    height: 30rem;
    padding: 0px;
    list-style-type: none;
    
}

.menuNavLi {
    text-align: center;
    margin: 3rem auto 0rem auto;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}