hr {
    
    width: 10px;
    text-align: center;
    margin: 0 auto;
    height: 2px;
    background-color: transparent;
    border-color: black;
}

.hrDiv {
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 